.container {
  min-height: calc(100vh - 100px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 1.7em;
  background: linear-gradient(180deg, #a7a3bb, var(--background));
}

.accroche {
  font-family: var(--font-header);
  font-size: 3rem;
  text-align: center;
  line-height: 1.7em;
  font-weight: 600;
  width: 700px;
  max-width: calc(100% - 40px);
  padding: 0px 20px;
}

@media (max-width: 600px) {
  .accroche {
    font-size: 2rem;
  }
}

.arrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100px;
}

.arrow {
  width: 50px;
  height: 50px;
  fill: black; /* Arrow color */
  animation: moveUpDown 1.5s infinite ease-in-out;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0); /* Start and end position */
  }
  50% {
    transform: translateY(-10px); /* Moves up by 10px at the midpoint */
  }
}
