:root {
  --background: #eeeee9;
  --light-gray: #f9faf3;
  --clear: #ffffff;
  --light-purple: #c2b4f6;
  --purple: #8b73c5;
  --foreground: #3a3343;
  --yellow: #f0d88c;
  --brown: #af8858;
}

html,
body {
  font-family: var(--font-body);
  width: 100%;
  margin: 0px !important;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--foreground);
}
