.card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  margin: 0% 5%;
  transition: filter 0.5s, transform 0.5s;
  background: var(--background);
}

.card:hover {
  filter: drop-shadow(0px 0px 16px #a7a3bb);
  transform: translateY(-5px);
}
@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    gap: 20px;
  }
  .imageContainer {
    max-width: 100% !important;
  }
}
.imageContainer {
  position: relative;
  max-width: 466px;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  height: auto;
}
.imageContainer img {
  border-radius: 20px;
  min-height: 210px;
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.info h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--foreground);
  font-family: var(--font-header);
  margin: 0;
}

.info h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--foreground);
  font-family: var(--font-header);
  font-style: italic;
  margin: 0;
}
