.etiquette {
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .etiquette {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .etiquette {
    font-size: 2.5rem;
  }
}
